DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=admin
DB_NAME=willmaker
JWT_SECRET=test-secret
JWT_EXPIRY=1d,
OPENAI_API_KEY=sk-proj-WfIXi4WHlSKoDs9MadiqBgVm2oaku66fs882SKmv2e-PguvCAEuUMhTF4-anRh